
<!DOCTYPE html>
<html>
{% include 'base.html' %}
<head>
    <title>welcome !</title>
</head>
<body>
welcome to this product! <br>
{{ string }}
<br>
教程列表：<br>
{% for i in TutorialList %}
{{ i }}<br>
{% endfor %}
<br>
站点：{{ info_dict.site }} 内容：{{ info_dict.content }}<br>

{% for key, value in info_dict.items %}
    {{ key }}: {{ value }}<br>
{% endfor %}
<br>

{% for item in List %}
    {{ item }}, <br>
{% endfor %}
<br>

{% for item in List %}
    {{ item }}{% if not forloop.last %},{% endif %} 
{% endfor %}
<br>


<br>


<br>


</body>
</html>